html, body {
	max-width: 100%;
	overflow-x: hidden;

}
nav{
	background: rgb(255, 255, 255);
	color: rgb(1, 2, 3);
	
	
}
#font_nav{
	color: #8b8a8a;
	font-style: oblique;
	/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,600;1,900&display=swap'); */
}
.navbar-toggler{
	background-color: rgb(157, 137, 184);
}

.navbar-item{
	margin-right: 20px
}
.carousel{
	margin-top: 85px;
	border-top: solid rgb(86, 63, 116);
	border-bottom: solid rgb(86, 63, 116);
}
body{
	background: rgb(255, 255, 255);
	color: #111111;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.img-carosel{
	height: 450px;
	 width: 100%;
}
.judul-atas-awal{
	font-size: 30px;
	font-style: oblique;
	border-bottom:	2px solid rgb(51, 13, 100);
}
.figu-atas-awal{
	margin-top: 10px;
	font-style: italic;
	color: rgb(105, 103, 103)
}

.link-konten{
	text-align: left;
}
.rd-link{
	margin-top: -10px
}
.card-header{
	color: aliceblue;
	text-align: center;
	font-style: oblique;
	background-color: rgb(51, 13, 100);
}
.judul-card{
	font-size: 20px;
}
.kecepatan-card{
	margin-top: 5px
}
.card-body{
	color: #292929;
	text-align: center;
}
.user-card{
	border-bottom: 1px solid rgb(65, 24, 119);
}
.body-kecepatan-card{
	font-style: oblique;
	margin-top: 20px;
	font-size: 30px;
}
.card-footer{
	text-align: center;
	background-color: rgb(100, 73, 133);
}
.harga-card{
	font-style: oblique;
	font-size: 25px;
	
}
.btn-saya-mau{
	background-color: #f5f5f8;
	font-style: oblique;
	margin-bottom: 15px
}
.gambar-card {
	width: 80%;
	height: 80%;
}
.footer_background{
	background-color: rgb(100, 73, 133);
}
.footer-tenggah{
	margin-top: 20px;
	text-align: center;
}


